* {
  box-sizing: border-box;
}

body {
  background-color: #d8d3cf;
}

#toolbar {
  background-color: #9597b1;
  border: 1px solid #e2d09c;
  position: fixed;
  float: left;
  border-radius: 10px;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-left: 1vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 15vh;
  height: 90vh;
  text-align: center;
}

#canvasContainer {
  background-color: white;
  float: left;
  border: 1px solid black;
  margin-left: 17vh;
  width: 1000px;
  height: 1000px;
  overflow: hidden;
}

p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
